{% extends "base.html" %}
{% block contents %}

<div class = "col-12" >
  	<div class = "col-12 text-center">
        <br>
		<h1>IOT-BOX</h1>
		<br>
	</div>
	


	<form method = "POST">
	  {% csrf_token %}
	  
	  <div class="form-group">
	    <label for="username">Login ID</label>
	    <input type="text" 
	    class="form-control" 
	    name = "username" 
	    id="username" 
	    placeholder="Input user id">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" 
	    name = "password" 
	    class="form-control" id="password" placeholder="input your password">
	  </div>
	
	  <span style="color:red;"><strong>{{ error }}</strong> </span>
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>

</div>
{% endblock %}

